name: E2E testing
on:
  push:
 # schedule:
  #  - cron:  '0 0 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      hub:
        image: selenium/standalone-chrome:3.141.59 
        ports:
          - 80:80
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      # - name: Install Google Chrome 
      #   run: |
      #     chmod +x install-chrome.sh
      #     ./install-chrome.sh
      - name: mvn test e2e
        run: mvn '-Dtest=es.codeurjc.daw.e2e.**' test
