name: Nightly Develop Release
on:
  schedule:
    - cron:  '0 0 * * *'  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: develop
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Mvn clean package
        run: mvn clean package
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"  
      - name: Generate artifact
        uses: actions/upload-artifact@v1
        with:
          name: nightly-${{ steps.date.outputs.date }}
          path: target/enunciado-practica-testing-1.0.0.jar  
      - name: Deploy to github packages
        run: mvn deploy -Dregistry=https://maven.pkg.github.com/luiscajl -Dtoken=GH_TOKEN  
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
      - name: Build and publish to docker registry
        uses: docker/build-push-action@v1   
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: luiscajl/practicatesting
          tags: nightly-${{ steps.date.outputs.date }}       

     