name: Release 
on:
  push:
    tags:
      - 'v*' 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: mvn package
        run: mvn -Dmaven.test.skip=true package 
      - name: Deploy to github packages
        run: mvn -B deploy -Dversion=$GITHUB_REF 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REF:  ${{ github.ref }}  
      - name: Build and publish to docker registry
        uses: docker/build-push-action@v1   
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: luiscajl/practicatesting
          tags: ${{ github.ref }}   