#CADA 24 HORAS
name: Sonar testing
on:
  push:
 # schedule:
  #  - cron:  '0 0 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: mvn verify sonar
        run: mvn verify sonar:sonar -Dsonar.host.url=http://52.215.2.124:9000
     